/* This is free and unencumbered software released into the public
 * domain.
 *
 * Anyone is free to copy, modify, publish, use, compile, sell, or
 * distribute this software, either in source code form or as a
 * compiled binary, for any purpose, commercial or non-commercial, and
 * by any means.
 *
 * In jurisdictions that recognize copyright laws, the author or
 * authors of this software dedicate any and all copyright interest in
 * the software to the public domain. We make this dedication for the
 * benefit of the public at large and to the detriment of our heirs
 * and successors. We intend this dedication to be an overt act of
 * relinquishment in perpetuity of all present and future rights to
 * this software under copyright law.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT.  IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY
 * CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 *
 * For more information, please refer to <http://unlicense.org/>
 */

@font-face {
  font-family: 'Hermit';
  src: url('Hermit-medium.otf');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Hermit", Verdana;
  font-size: 0.95em;
}

html, body {
  width: 900px;
  margin: auto;
}

th, td {
  font-weight: 100;
  padding: 2px;
  vertical-align: top;
}

th  {
  text-align: right;

}

span {
  color: #000000;
}
  
#top {
  padding: 5px;
}

#top h1 {
  font-size: 1.5em;
}

#menu p {
  padding-top: 3px;
  padding-bottom: 3px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  cursor: pointer;
}

#description {
  display: none;
  padding: 10px;
}

#options {
  background-color: #000000;
}

#legend table {
  margin-top: 5px;
  margin-bottom: 5px;
}

#legend h3 {
  border-bottom: 1px solid #000000;
}

#options button {
  margin: 5px;
}

#container {
  margin: auto;
  display: none;
}

#left-container {
  float: left;
  border: 2px solid #000000;
  width: 186px;
  padding: 5px;
}

#center-container {
  float: left;
  border: 2px solid #000000;
  width: 696px;
  background-color: #222222;
  color: #ffffff;
}

#infovis {
  position: relative;
  width: 696px;
  height: 550px;
}

#button {
  padding: 10px;
  text-align: center;
}

.query-color {
  border:1px solid #999999;
  float:left;
  height:10px;
  margin: 3px 3px 0 0;
  width:10px;
}
